* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(221, 235, 238);
  font-family: "Handlee", cursive;
  color: rgb(59, 58, 58);
}

body.dark {
  background-color: rgb(59, 58, 58);
  color: rgb(221, 235, 238);
}

.navbar {
  background-color: rgb(118, 159, 168);
  border: 1px solid black;
  position: fixed;
  z-index: 1;
  bottom: 0;
  width: 100%;
  padding: 0.6rem 0;
  display: flex;
}

.navbar ul {
  display: flex;
  justify-content: space-around;
  width: 100%;
  list-style-type: none;
}

li a {
  font-size: 1.8rem;
  cursor: pointer;
  color: rgb(221, 235, 238);
}

a:hover {
    color: rgb(59, 58, 58);
}

section {
  background-color: rgb(188, 211, 216);
  margin: 2rem 2rem;
}

h1 {
  background-color: rgb(188, 211, 216);
  border: 1px solid black;
  margin: 0 2rem;
  padding: 1rem 0;
  font-size: 3.2rem;
  display: flex;
  justify-content: center;
}

.question-box {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  position: relative;
  height: 500px;
  padding: 3rem 5rem;
  margin: 5rem 0;
}

.bookmark {
  cursor: pointer;
  position: absolute;
  right: 100px;
  top: 0;
  width: 2.8rem;
}

.toggle__color {
  fill: rgb(59, 58, 58);
  stroke: rgb(221, 235, 238);
}

.question-box i:hover {
  color: rgb(118, 159, 168);
}

h2 {
  font-size: 2.4rem;
}

h3 {
  font-size: 2rem;
  font-weight: bold;
}

button {
  background-color: rgb(118, 159, 168);
  border: 1px solid black;
  border-radius: 35%;
  font-family: "Handlee", cursive;
  color: rgb(59, 58, 58);
  cursor: pointer;
  padding: 1rem;
}

button:hover {
  background-color: rgb(146, 192, 202);
  opacity: 0.7;
}

.answer__hide1,
.answer__hide2,
.answer__hide3,
.answer__hide4,
.answer__hide5,
.answer__hide6 {
  display: none;
}

.tags p {
  background-color: rgb(118, 159, 168);
  border: 1px solid black;
  border-radius: 20%;
  margin: 1rem;
  padding: 0.5rem;
  display: inline;
  right: 30rem;
  bottom: 1rem;
  font-size: 1.3rem;
}

/* For the profile */


.hero {
  background-color: rgb(188, 211, 216);
  border: 1px solid black;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 3rem 0;
  margin-bottom: 5rem;
  margin-top: 5rem;
  height: 450px;
}

img {
  height: 20rem;
  width: 15rem;
  border-radius: 50%;
}

.about {
  border: 1px solid black;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 0 5rem;
  font-size: 1.3rem;
  margin-bottom: 5rem;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}


.numbers i {
  font-size: 1.3rem;
  display: flex;
  gap: 0.5rem;
}

.settings {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 3rem 5rem;
  height: 250px;
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.settings-01 {
  display: flex;
  justify-content: space-evenly;
  font-size: 1.3rem;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.button i {
  cursor: pointer;
  font-size: 2rem;
}

.button i:hover {
    color: rgb(118, 159, 168);
}


/* everything new 17.11 */
/* For the form */


.container__1 {
  border: 1px solid black;
  display: flex;
  justify-content: center;
  margin: 5rem 2rem;

}

.form__1,
.form__2,
.form__3 {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 2rem 0;
}

.submit__button {
  margin-bottom: 2rem;
  margin-left: 14.5rem;
}

textarea {
  width: 30rem;
  height: 10rem;
}

.form__3 input {
  height: 2rem;
}

/* .card {
  display: none;
} */